<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Request</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
</head>
<body>
<section class="ui segment container" id="main-view">
    <div class="ui segment" id="password-reset-request-form">
        <h1>Request Password Reset</h1>
        <form action="/password-reset-request" method="post" class="ui form">
            <div class="ui stacked segment">
                <div class="field">
                    <label for="email">Email:</label>
                    <div class="ui left icon input">
                        <i class="mail icon"></i>
                        <input type="email" id="email" name="email" placeholder="Email" required>
                    </div>
                </div>
                <button class="ui button blue fluid" type="submit">Submit</button>
            </div>
        </form>
        <h4 class="ui message">We will send you an email link to reset your password</h4>
    </div>
</section>
</body>
</html>
