<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
</head>
<body>
<section class="ui segment container" id="main-view">
    <div class="ui segment" id="reset-password-form">
        <h1>Reset Password</h1>
        <form action="/password-reset" method="post" class="ui form">
            <input type="hidden" name="token" value="{{.Token}}">
            <div class="ui stacked segment">
                <div class="field">
                    <label for="new-password">New Password:</label>
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" id="new-password" name="new-password" placeholder="New Password" required>
                    </div>
                </div>
                <button class="ui button blue fluid" type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>
</body>
</html>
